{{!< default}}

{{!-- begin navbar --}}
 <nav class="navbar navbar-expand-lg fixed-top sticky topbar-custom">
            <div class="container">
                <ul class="navbar-nav">
                    <li>
                        <a href="/">support@skylightsenergy.com</a>
                    </li>
                    <li>
                        <a href="/">+91-9876543210</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li><a class="text-primary" href=""><i class="mdi mdi-facebook f-20"></i></a></li>
                    <li><a class="text-primary" href=""><i class="mdi mdi-twitter f-20"></i></a></li>
                    <li><a class="text-primary" href=""><i class="mdi mdi-instagram f-20"></i></a></li>
                </ul>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg fixed-top sticky navbar-custom">
            <div class="container">
                <a class="navbar-brand logo" href="/">
                    <img src="{{asset "images/logo/logo1.jpeg"}}" alt="logo" height="40" />
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span>Menu</span>
                </button>
                <div class="navbar-collapse collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li><a href="#home">Home</a></li>
                        <li><a href="/solutions">Solutions</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/pricing">Pricing</a></li>
                        <li><a href="/testimonials">Testimonials</a></li>
                        <li><a href="/blog">Success Stories</a></li>
                        <li><a href="/resources">Resources</a></li>
                    </ul>
                </div>
            </div>
        </nav>
{{!-- end navbar --}}

{{!-- begin index hero --}}
<section class="bg-home-6 align-items-center" id="home" data-aos="fade-right" data-aos-duration="1200">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="home-text mt-5">
                            <h2 class="text-primary">User</h2>
                            <h1 class="text-primary">Behaviour</h1>
                            <h3 class="text-primary">Analysis</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{{!-- end index hero --}}

{{!-- begin testimonials slider --}}
<section class="section pb-5" id="about" data-aos="fade-up" data-aos-duration="2500">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h6 class="text-primary">TRUSTED BY OVER 26,000 FORWARD - THINKING COMPANIES</h6>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-12">
                        <div class="brand-slider">
                            <div class="brand-img">
                                <img src="{{asset "images/slider/slider1.jpeg"}}" alt="brand-img" />
                            </div>
                            <div class="brand-img">
                                <img src="{{asset "images/slider/slider2.jpeg"}}" alt="brand-img" />
                            </div>
                            <div class="brand-img">
                                <img src="{{asset "images/slider/slider3.png"}}" alt="brand-img" />
                            </div>
                            <div class="brand-img">
                                <img src="{{asset "images/slider/slider4.jpeg"}}" alt="brand-img" />
                            </div>
                            <div class="brand-img">
                                <img src="{{asset "images/slider/pes.jpg"}}" alt="brand-img" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{{!-- end testimonials slider --}}

{{!-- <!-- begin how we work --> --}}
        <section class="section pb-5">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-8" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
                        <div class="text-center">
                            <h6 class="text-primary text-uppercase">how we work</h6>
                            <h2 class="text-dark font-weight-bold f-39">Skylights Energy Analytics</h2>
                            <p class="font-weight-bold text-muted">
                                Collecting energy data, applying sophisticated analytical software and algorithms to deliver insights around consumption and time of use reduction. Ultimately focusing on
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-4" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
                        <div class="features-box-3">
                            <div class="feature-img mb-3">
                                <img src="{{asset "/images/features/features1.png"}}" alt="service" />
                            </div>
                            <div class="text-center">
                                <h5 class="text-dark font-weight-bold">Acquire</h5>
                                <p class="text-muted font-weight-bold">
                                    Measure and collect energy data from various mediums and parameters
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                        <div class="features-box-3">
                            <div class="feature-img mb-3">
                                <img src="{{asset "/images/features/features2.png"}}" alt="service" />
                            </div>
                            <div class="text-center">
                                <h5 class="text-dark font-weight-bold">Analyze</h5>
                                <p class="text-muted font-weight-bold">
                                    Artificial intelligence algorithms to focus on trends, patterns and predictions, mining through to identify key values
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
                        <div class="features-box-3">
                            <div class="feature-img mb-3">
                                <img src="{{asset "/images/features/features3.png"}}" alt="service" />
                            </div>
                            <div class="text-center">
                                <h5 class="text-dark font-weight-bold">Act</h5>
                                <p class="text-muted font-weight-bold">
                                    Actionable insights that drive operational decisions, competetive edge and keeping your asset perform at its most efficient.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{!-- <!-- end how we work --> --}}

{{!-- begin energy analytics --}}
<section class="bg-home-use pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6" data-aos="zoom-in" data-aos-offset="200" data-aos-easing="ease-in-sine">
                        <div class="text-left">
                            <h2 class="text-primary">Why energy analytics ?</h2>
                            <p class="text-white font-weight-600">
                                The need to to move beyond from how to best acquire information to how to analyze and act on that information, defines our efforts in energy analytics. If data ia not actionable and can not drive operational decisions, then its meaningless.
                            </p>
                            <p class="text-white font-weight-600">
                                Operational decisions that give competetive advantage when your teams are trapped with the monotonos work, our systems would monitor, analyze and act, mining you an ideal plant performance, that would have never been realized.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{{!-- end --}}

{{!-- <!-- begin business needs --> --}}
        <section class="section mt-5 pb-5" id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
                        <div class="business-text">
                            <h2 class="text-dark f-39 font-weight-bold">Why use skylights analytics?</h2>
                            <p class="text-muted font-weight-bold">
                                Features built in our system
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
                        <div class="p-3">
                            <button class="btn btn-primary font-weight-bold">Explore More Feature</button>
                            <div class="test-animate-img p-5">
                                {{!-- <img class="img-fluid" src="https://iqonic.design/wp-themes/xamin-elementor/wp-content/uploads/2020/07/xamin-d8-18.png" alt="test" /> --}}
                                <img class="img-fluid" src="{{asset "images/bg/bg-2.png"}}" alt="test" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-3 mb-3" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1550">
                        <div class="features-box">
                            <h6 class="text-dark font-weight-bold">Auto Sync & Backup</h6>
                            <div class="feature-img">
                                <img src="{{asset "images/services/service-1.png"}}" alt="feature" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1550">
                        <div class="features-box">
                            <h6 class="text-dark font-weight-bold">Customized Reports</h6>
                            <div class="feature-img">
                                <img src="{{asset "images/services/service-2.png"}}" alt="feature" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1550">
                        <div class="features-box">
                            <h6 class="text-dark font-weight-bold">60+ detailed reports</h6>
                            <div class="feature-img">
                                <img src="{{asset "images/services/service-3.png"}}" alt="feature" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1550">
                        <div class="features-box">
                            <h6 class="text-dark font-weight-bold">Asset information</h6>
                            <div class="feature-img">
                                <img src="{{asset "images/services/service-4.png"}}" alt="feature" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1600">
                        <div class="features-box">
                            <h6 class="text-dark font-weight-bold">SMS Reminders</h6>
                            <div class="feature-img">
                                <img src="{{asset "images/services/service-5.png"}}" alt="feature" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1600">
                        <div class="features-box">
                            <h6 class="text-dark font-weight-bold">Manage Bills & Expenses</h6>
                            <div class="feature-img">
                                <img src="{{asset "images/services/service-6.png"}}" alt="feature" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1600">
                        <div class="features-box">
                            <h6 class="text-dark font-weight-bold">Live Asset Dashboard</h6>
                            <div class="feature-img">
                                <img src="{{asset "images/services/service-7.png"}}" alt="feature" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1600">
                        <div class="features-box">
                            <h6 class="text-dark font-weight-bold">Remote Machine Control</h6>
                            <div class="feature-img">
                                <img src="{{asset "images/services/service-8.png"}}" alt="feature" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1650">
                        <div class="features-box">
                            <h6 class="text-dark font-weight-bold">Power Monitoring Expert</h6>
                            <div class="feature-img">
                                <img src="{{asset "images/services/service-9.png"}}" alt="feature" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1650">
                        <div class="features-box">
                            <h6 class="text-dark font-weight-bold">AI enabled pattern recognition</h6>
                            <div class="feature-img">
                                <img src="{{asset "images/services/service-10.png"}}" alt="feature" />
                            </div>
                        </div>
                        </div>
                        <div class="col-lg-3 mb-3" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1650">
                            <div class="features-box">
                                <h6 class="text-dark font-weight-bold">Forecast on energy consumption</h6>
                                <div class="feature-img">
                                    <img src="{{asset "images/services/service-11.png"}}" alt="feature" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 mb-3" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1650">
                            <div class="features-box">
                                <h6 class="text-dark font-weight-bold">Predictive maintenance</h6>
                                <div class="feature-img">
                                    <img src="{{asset "images/services/service-12.png"}}" alt="feature" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{!-- <!-- end of business needs --> --}}

        {{!-- <!-- begin services --> --}}
        <section class="bg-home-services" id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1700">
                        <div class="text-center">
                            <h6 class="text-primary text-uppercase">our services</h6>
                            <h2 class="text-dark font-weight-bold f-39">We Provide Useful Services</h2>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-4 mb-5" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1750">
                        <div class="features-box-2">
                            <div class="feature-img">
                                <img src="{{asset "/images/technology/tech1.png"}}" alt="service" />
                            </div>
                            <div class="feature-text">
                                <h6 class="text-dark font-weight-bold">Big Data Consulting</h6>
                                <p class="text-muted font-weight-bold">
                                    Many variation established fact reader will be distracted by the of readable content .
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1750">
                        <div class="features-box-2">
                            <div class="feature-img">
                                <img src="{{asset "/images/technology/tech2.png"}}" alt="service" />
                            </div>
                            <div class="feature-text">
                                <h6 class="text-dark font-weight-bold">Machine Learning</h6>
                                <p class="text-muted font-weight-bold">
                                    Contrary to established fact that a reader will be distracted by readable content .
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1750">
                        <div class="features-box-2">
                            <div class="feature-img">
                                <img src="{{asset "/images/technology/tech3.png"}}" alt="service" />
                            </div>
                            <div class="feature-text">
                                <h6 class="text-dark font-weight-bold">Computer Vision</h6>
                                <p class="text-muted font-weight-bold">
                                    Variations established fact that a reader will be distracted the of readable content .
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1800">
                        <div class="features-box-2">
                            <div class="feature-img">
                                <img src="{{asset "/images/technology/tech4.png"}}" alt="service" />
                            </div>
                            <div class="feature-text">
                                <h6 class="text-dark font-weight-bold">Data Analytics</h6>
                                <p class="text-muted font-weight-bold">
                                    Established fact that a reader will be distracted by passages of readable content .
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1800">
                        <div class="features-box-2">
                            <div class="feature-img">
                                <img src="{{asset "/images/technology/tech5.png"}}" alt="service" />
                            </div>
                            <div class="feature-text">
                                <h6 class="text-dark font-weight-bold">Internet Of Things</h6>
                                <p class="text-muted font-weight-bold">
                                    It is a long established fact that a reader will be distracted by the of readable content .
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1800">
                        <div class="features-box-2">
                            <div class="feature-img">
                                <img src="{{asset "/images/technology/tech6.png"}}" alt="service" />
                            </div>
                            <div class="feature-text">
                                <h6 class="text-dark font-weight-bold">Artificial Intelligence</h6>
                                <p class="text-muted font-weight-bold">
                                    Contrary to established fact that a reader will be distracted by readable content .
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{!-- <!-- end services --> --}}
{{!-- begin footer --}}
    <!-- begin footer -->
        <!-- begin footer -->
        <footer class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="">
                            <h6 class="f-17">Solutions</h6>
                            <ul class="list-unstyled footer-link pl-2">
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;EMS</a></li>
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;BMS</a></li>
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;AIMS</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="">
                            <h6 class="f-17">About Us</h6>
                            <ul class="list-unstyled footer-link pl-2">
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;Company</a></li>
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;Meet Our Team</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="">
                            <h6 class="f-17">Blog</h6>
                            <ul class="list-unstyled footer-link pl-2">
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;Stories</a></li>
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;Industry Insights</a></li>
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;News</a></li>
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;Videos</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="">
                            <h6 class="f-17">Reviews</h6>
                            <ul class="list-unstyled footer-link pl-2">
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;Testimonials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="mt-2 mb-2" />
                <div class="row">
                    <div class="col-lg-4">
                        <div class="text-center">
                            <p class="text-muted mb-0">
                                2021 © <span class="text-primary font-weight-bold">Skylights Energy</span>. Powered by
                                <span class="text-primary font-weight-bold">Ampcome</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center">
                            <a class="text-primary font-weight-bold mr-2" href="">support@skylightsenergy.com</a> |
                            <a class="text-primary font-weight-bold ml-2" href="">+91-9876543210</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center">
                            <a class="text-primary font-weight-bold mr-3" href=""><i class="mdi mdi-twitter f-17"></i></a>
                            <a class="text-primary font-weight-bold mr-3" href=""><i class="mdi mdi-facebook f-17"></i></a>
                            <a class="text-primary font-weight-bold" href=""><i class="mdi mdi-instagram f-17"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
{{!-- begin footer --}}