{{!< default}}

{{!-- begin navbar --}}
 <nav class="navbar navbar-expand-lg fixed-top sticky topbar-custom">
            <div class="container">
                <ul class="navbar-nav">
                    <li>
                        <a class="text-primary" href="/">info@skylightsenergy.in</a>
                    </li>
                    <li>
                        <a class="text-primary" href="/">+91-9100010019</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li><a class="text-primary" href=""><i class="mdi mdi-facebook f-20"></i></a></li>
                    <li><a class="text-primary" href=""><i class="mdi mdi-twitter f-20"></i></a></li>
                    <li><a class="text-primary" href=""><i class="mdi mdi-instagram f-20"></i></a></li>
                </ul>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg fixed-top sticky navbar-custom">
            <div class="container">
                <a class="navbar-brand logo" href="/">
                    <img src="{{asset "images/logo/logo1-removebg.png"}}" alt="logo" height="40" />
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span>Menu</span>
                </button>
                <div class="navbar-collapse collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li><a href="#home">Home</a></li>
                        <li><a href="/solutions">Solutions</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/pricing">Pricing</a></li>
                        <li><a href="/blog">Success Stories</a></li>
                        <li><a href="/resources">Resources</a></li>
                    </ul>
                </div>
            </div>
        </nav>
{{!-- end navbar --}}

{{!-- begin index hero --}}
<section class="bg-home align-items-center" style="margin-top: 100px;" id="home" data-aos="fade-right" data-aos-duration="1200">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="home-text mt-5">
                            <h1 class="f-40" style="margin-top: 250px;">
                                <span class="text-blue" style="background-color: #0D0D35;">Optimize Energy Savings<br />Maximize </span>
                                <span
                                style="background-color: #0D0D35;" 
                                class="element text-blue"
                                data-elements="business operations., plant performance., profit.,"
                                ></span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{{!-- end index hero --}}

{{!-- begin testimonials slider --}}
<section class="section pb-5 mb-5" id="about" data-aos="fade-up" data-aos-duration="2500">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h6 class="text-primary">TRUSTED BY OVER 26,000 FORWARD - THINKING COMPANIES</h6>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-12">
                        <div class="brand-slider">
                            <div class="brand-img">
                                <img src="{{asset "images/brand/brand1.jpg"}}" alt="brand-img" />
                            </div>
                            <div class="brand-img">
                                <img src="{{asset "images/brand/brand2.jpg"}}" alt="brand-img" />
                            </div>
                            <div class="brand-img">
                                <img src="{{asset "images/brand/brand3.jpg"}}" alt="brand-img" />
                            </div>
                            <div class="brand-img">
                                <img src="{{asset "images/brand/brand4.jpg"}}" alt="brand-img" />
                            </div>
                            <div class="brand-img">
                                <img src="{{asset "images/brand/brand5.jpg"}}" alt="brand-img" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{{!-- end testimonials slider --}}

        {{!-- <!-- begin dummy text --> --}}
        <section class="bg-home-60" style="background-image: url(./assets/images/bg/SKYLIGHTS3.png);background-size: cover;">
            <div class="container">
                <div class="row p-3">
                    <div class="col-lg-6" data-aos="zoom-in" data-aos-offset="200" data-aos-easing="ease-in-sine">
                        <div class="text-left mt-5">
                            <h2 class="text-primary text-capitalize">What we do ?</h2>
                            <h4 class="text-primary text-capitalize">Energy Analytics</h4>
                            <p class="text-white font-weight-bold">
                                We acquire data from your enterprise and analyze it using our sophisticated software to deliver useful insights that are practical and easy to implement. 
                            </p>
                            <h4 class="text-primary text-capitalize">Energy Auditing</h4>
                            <p class="text-white font-weight-bold">
                                An energy audit involves the process of identifying areas of energy wastage in your organization. A certified energy auditor provides a comprehensive method for achieving energy and cost saving opportunities.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{!-- <!-- end dummy text --> --}}
{{!-- <!-- begin how we work --> --}}
<section class="section pb-5">
                <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-6" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
                        <div class="text-center">
                            <h6 class="text-primary text-uppercase">how we work</h6>
                            <h2 class="text-dark font-weight-bold f-39">Skylights Energy</h2>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <ul
                                class="nav nav-pills rounded justify-content-center d-inline-block test-tab-border py-1 px-2"
                                id="pills-tab"
                                role="tablist"
                            >
                                <li class="nav-item d-inline-block">
                                    <a
                                        class="nav-link px-3 rounded active monthly"
                                        id="Analytics"
                                        data-toggle="pill"
                                        href="#Analytic"
                                        role="tab"
                                        aria-controls="Analytic"
                                        aria-selected="true"
                                        >Energy Analytics</a
                                    >
                                </li>
                                <li class="nav-item d-inline-block">
                                    <a
                                        class="nav-link px-3 rounded yearly"
                                        id="Auditing"
                                        data-toggle="pill"
                                        href="#Audit"
                                        role="tab"
                                        aria-controls="Audit"
                                        aria-selected="false"
                                    >
                                        Energy Auditing
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- tab content -->
                        <div class="tab-content pt-3" id="pills-tabContent">
                            <div class="tab-pane fade active show" id="Analytic" role="tabpanel" aria-labelledby="Analytics">
                                <div class="container">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-lg-6">
                                        <div class="text-center">
                                            <p class="text-muted font-weight-bold">
                                                We Collect energy data and use sophisticated analytical software and algorithms to deliver insights around consumption and time of use reduction.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="features-box-3">
                                            <div class="feature-img mb-3">
                                                <img src="{{asset "images/features/features1.png"}}" alt="service" />
                                            </div>
                                            <div class="text-center">
                                                <h5 class="text-dark font-weight-bold">Acquire</h5>
                                                <p class="text-muted font-weight-bold">
                                                    We measure and collect energy data from various mediums and parameters
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="features-box-3">
                                            <div class="feature-img mb-3">
                                                <img src="{{asset "images/features/features2.png"}}" alt="service" />
                                            </div>
                                            <div class="text-center">
                                                <h5 class="text-dark font-weight-bold">Analyze</h5>
                                                <p class="text-muted font-weight-bold">
                                                    Artificial intelligence algorithms are used to focus on trends, patterns and predictions to identify key values
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="features-box-3">
                                            <div class="feature-img mb-3">
                                                <img src="{{asset "images/features/features3.png"}}" alt="service" />
                                            </div>
                                            <div class="text-center">
                                                <h5 class="text-dark font-weight-bold">Act</h5>
                                                <p class="text-muted font-weight-bold">
                                                    We provide actionable insights that drive operational decisions to give you a competitive edge and keep your assets performing ay high efficiency.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                    <section class="bg-home-60" style="background-image: url(./assets/images/bg/SKYLIGHTS7d.png);background-size: cover;">
                                        <div class="container">
                                            <div class="row p-3">
                                                <div class="col-lg-6"></div>
                                                <div class="col-lg-6" data-aos="zoom-in" data-aos-offset="200" data-aos-easing="ease-in-sine">
                                                    <div class="text-left mt-5">
                                                        <h2 class="text-primary text-capitalize">Why energy analytics ?</h2>
                                                        <p class="text-white font-weight-50">
                                                            The need to move beyond how to acquire information to how to best analyze and act on that information, defines our efforts in energy analytics. If data is not actionable and cannot drive operational decisions, then it is meaningless.
                                                        </p>
                                                        <p class="text-white font-weight-50">
                                                            We help make operational decisions that give you a competitive advantage when your teams are stuck with monotonous work. Our systems monitor, analyze and act, giving you an ideal plant performance, that would have never been realized.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                            </div>
                            <div class="tab-pane fade" id="Audit" role="tabpanel" aria-labelledby="Auditing">
                                <div class="container">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-lg-6">
                                            <div class="text-center">
                                                <p class="text-muted font-weight-bold">
                                                    We evaluate the efficiency of all plant buildings and process systems requiring energy. The auditor locates all energy sources, identifies energy streams, quantifies them into discrete functions and evaluates its efficiency. He then identifies energy and cost saving opportunities.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="features-box-3">
                                            <div class="feature-img mb-3">
                                                <img src="{{asset "images/features/features4.png"}}" alt="service" />
                                            </div>
                                            <div class="text-center">
                                                <h5 class="text-dark font-weight-bold">Identify</h5>
                                                <p class="text-muted font-weight-bold">
                                                    We identify all energy systems in the enterprise
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="features-box-3">
                                            <div class="feature-img mb-3">
                                                <img src="{{asset "images/features/features5.png"}}" alt="service" />
                                            </div>
                                            <div class="text-center">
                                                <h5 class="text-dark font-weight-bold">Evaluate</h5>
                                                <p class="text-muted font-weight-bold">
                                                    We evaluate the condition of all the systems
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="features-box-3">
                                            <div class="feature-img mb-3">
                                                <img src="{{asset "images/features/features2.png"}}" alt="service" />
                                            </div>
                                            <div class="text-center">
                                                <h5 class="text-dark font-weight-bold">Analyze</h5>
                                                <p class="text-muted font-weight-bold">
                                                    We analyze the impact of improvement to those systems
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="features-box-3">
                                            <div class="feature-img mb-3">
                                                <img src="{{asset "images/features/features6.png"}}" alt="service" />
                                            </div>
                                            <div class="text-center">
                                                <h5 class="text-dark font-weight-bold">Report</h5>
                                                <p class="text-muted font-weight-bold">
                                                    The final output consists of an energy audit report
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <section class="bg-home-60" style="background-image: url(./assets/images/bg/SKYLIGHTS7d.png);background-size: cover;">
                                    <div class="container">
                                        <div class="row p-3">
                                            <div class="col-lg-6"></div>
                                            <div class="col-lg-6" data-aos="zoom-in" data-aos-offset="200" data-aos-easing="ease-in-sine">
                                                <div class="text-left mt-5">
                                                    <h2 class="text-primary text-capitalize">Why energy auditing ?</h2>
                                                    <p class="text-white font-weight-50">
                                                        The need to move beyond how to acquire information to how to best analyze and act on that information, defines our efforts in energy analytics. If data is not actionable and cannot drive operational decisions, then it is meaningless.
                                                    </p>
                                                    <p class="text-white font-weight-50">
                                                        We help make operational decisions that give you a competitive advantage when your teams are stuck with monotonous work. Our systems monitor, analyze and act, giving you an ideal plant performance, that would have never been realized.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        {{!-- <section class="section pb-5">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-8" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
                        <div class="text-center">
                            <h6 class="text-primary text-uppercase">how we work</h6>
                            <h2 class="text-dark font-weight-bold f-39">Skylights Energy Analytics</h2>
                            <p class="font-weight-bold text-muted">
                                Collecting energy data, applying sophisticated analytical software and algorithms to deliver insights around consumption and time of use reduction. Ultimately focusing on
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-4" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
                        <div class="features-box-3">
                            <div class="feature-img mb-3">
                                <img src="{{asset "/images/features/features1.png"}}" alt="service" />
                            </div>
                            <div class="text-center">
                                <h5 class="text-dark font-weight-bold">Acquire</h5>
                                <p class="text-muted font-weight-bold">
                                    Measure and collect energy data from various mediums and parameters
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                        <div class="features-box-3">
                            <div class="feature-img mb-3">
                                <img src="{{asset "/images/features/features2.png"}}" alt="service" />
                            </div>
                            <div class="text-center">
                                <h5 class="text-dark font-weight-bold">Analyze</h5>
                                <p class="text-muted font-weight-bold">
                                    Artificial intelligence algorithms to focus on trends, patterns and predictions, mining through to identify key values
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
                        <div class="features-box-3">
                            <div class="feature-img mb-3">
                                <img src="{{asset "/images/features/features3.png"}}" alt="service" />
                            </div>
                            <div class="text-center">
                                <h5 class="text-dark font-weight-bold">Act</h5>
                                <p class="text-muted font-weight-bold">
                                    Actionable insights that drive operational decisions, competetive edge and keeping your asset perform at its most efficient.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> --}}
        {{!-- <!-- end how we work --> --}}
<section class="section custom-tab mt-2 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="text-dark text-capitalize">Why choose Skylights Energy ?</h2>
                    </div>
                    <div class="col-lg-6"></div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-6">
                        <ul class="nav nav-pills rounded justify-content-center d-inline-block pricing-tab-border py-1 px-2"
                        id="pills-tab"
                        role="tablist">
                        <li class="nav-item d-inline-block">
                            <a
                                class="nav-link px-2 font-weight-600 f-22 rounded active monthly"
                                id="Test1"
                                data-toggle="pill"
                                href="#One"
                                role="tab"
                                aria-controls="One"
                                aria-selected="true"
                                >40 years industry experience<br/>
                            <span class="f-14 text-black-50">With over 4 decades of experience we meet the complex and varying needs of customers with a wide range of customized solutions, tailored precisely for each industry segments. With a clientele of over 300 large-scale industries, we have earned a renowned name in service, economy and innovative solutions.</span>
                            </a
                            >
                        </li>
                        <li class="nav-item d-inline-block">
                            <a
                                class="nav-link px-2 f-22 font-weight-600 rounded monthly"
                                id="Test2"
                                data-toggle="pill"
                                href="#Two"
                                role="tab"
                                aria-controls="Two"
                                aria-selected="true"
                                >Custom Branding<br />
                            <span class="f-14 text-black-50">We let you completely brand your dashboard environment to make it your own. You will be able to customize different aspects like a branded login page, customized URL, and even branded reports to make the software appear to be fully yours when showcasing to clients. </span>
                            </a
                            >
                        </li>
                        <li class="nav-item d-inline-block">
                            <a
                            class="nav-link px-2 f-22 font-weight-600 rounded yearly"
                            id="Test3"
                            data-toggle="pill"
                            href="#Three"
                            role="tab"
                            aria-controls="Three"
                            aria-selected="false"
                                >Time and Money savings<br />
                            <span class="f-14 text-black-50">Prevent losses due to breakdowns using our predictive data. By using our platform, you can monitor energy consumption and costs through an easy to understand report generated by us. Let us manage your energy savings while you focus on growing your business!</span>
                            </a
                            >
                        </li>
                        <li class="nav-item d-inline-block">
                            <a
                            class="nav-link px-2 f-22 font-weight-600 rounded yearly"
                            id="Test4"
                            data-toggle="pill"
                            href="#Four"
                            role="tab"
                            aria-controls="Four"
                            aria-selected="false"
                                >Complete Transparency<br />
                            <span class="f-14 text-black-50">Ensure complete transparency in energy consumption of organizations in different buildings or locations with regard to high electricity bills.</span>
                            </a
                            >
                        </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">      
                        <div class="tab-content pt-3" id="pills-tabContent">
                            <div class="tab-pane fade active show" id="One" role="tabpanel" aria-labelledby="Test1">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="test-img"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Two" role="tabpanel" aria-labelledby="Test2">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="test-img-1"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Three" role="tabpanel" aria-labelledby="Test3">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="test-img-2"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Four" role="tabpanel" aria-labelledby="Test4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mt-5">
                                            <div class="embed-responsive embed-responsive-16by9 mt-5">
                                                <video controls autoplay muted>
                                                    <source src="{{asset "images/test/Livedashboard140421.m4v"}}" type="video/mp4" />
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{{!-- <!-- begin business needs --> --}}
        <section class="section mt-5 pb-5" id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
                        <div class="business-text">
                            <h2 class="text-dark f-39 font-weight-bold">Why use skylights analytics?</h2>
                            <p class="text-muted font-weight-bold">
                                Features built in our system
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
                        <div class="p-3">
                            <button class="btn btn-primary font-weight-bold">Explore More Feature</button>
                            <div class="test-animate-img p-5">
                                {{!-- <img class="img-fluid" src="https://iqonic.design/wp-themes/xamin-elementor/wp-content/uploads/2020/07/xamin-d8-18.png" alt="test" /> --}}
                                <img class="img-fluid" src="{{asset "images/bg/bg-2.png"}}" alt="test" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-3 mb-3" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1550">
                        <div class="features-box">
                            <h6 class="text-dark font-weight-bold">Auto Sync & Backup</h6>
                            <div class="feature-img">
                                <img src="{{asset "images/services/service-1.png"}}" alt="feature" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1550">
                        <div class="features-box">
                            <h6 class="text-dark font-weight-bold">Customized Reports</h6>
                            <div class="feature-img">
                                <img src="{{asset "images/services/service-2.png"}}" alt="feature" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1550">
                        <div class="features-box">
                            <h6 class="text-dark font-weight-bold">60+ detailed reports</h6>
                            <div class="feature-img">
                                <img src="{{asset "images/services/service-3.png"}}" alt="feature" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1550">
                        <div class="features-box">
                            <h6 class="text-dark font-weight-bold">Asset information</h6>
                            <div class="feature-img">
                                <img src="{{asset "images/services/service-4.png"}}" alt="feature" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1600">
                        <div class="features-box">
                            <h6 class="text-dark font-weight-bold">SMS Reminders</h6>
                            <div class="feature-img">
                                <img src="{{asset "images/services/service-5.png"}}" alt="feature" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1600">
                        <div class="features-box">
                            <h6 class="text-dark font-weight-bold">Manage Bills & Expenses</h6>
                            <div class="feature-img">
                                <img src="{{asset "images/services/service-6.png"}}" alt="feature" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1600">
                        <div class="features-box">
                            <h6 class="text-dark font-weight-bold">Live Asset Dashboard</h6>
                            <div class="feature-img">
                                <img src="{{asset "images/services/service-7.png"}}" alt="feature" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1600">
                        <div class="features-box">
                            <h6 class="text-dark font-weight-bold">Remote Machine Control</h6>
                            <div class="feature-img">
                                <img src="{{asset "images/services/service-8.png"}}" alt="feature" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1650">
                        <div class="features-box">
                            <h6 class="text-dark font-weight-bold">Power Monitoring Expert</h6>
                            <div class="feature-img">
                                <img src="{{asset "images/services/service-9.png"}}" alt="feature" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1650">
                        <div class="features-box">
                            <h6 class="text-dark font-weight-bold">AI enabled pattern recognition</h6>
                            <div class="feature-img">
                                <img src="{{asset "images/services/service-10.png"}}" alt="feature" />
                            </div>
                        </div>
                        </div>
                        <div class="col-lg-3 mb-3" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1650">
                            <div class="features-box">
                                <h6 class="text-dark font-weight-bold">Forecast on energy consumption</h6>
                                <div class="feature-img">
                                    <img src="{{asset "images/services/service-11.png"}}" alt="feature" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 mb-3" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1650">
                            <div class="features-box">
                                <h6 class="text-dark font-weight-bold">Predictive maintenance</h6>
                                <div class="feature-img">
                                    <img src="{{asset "images/services/service-12.png"}}" alt="feature" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{!-- <!-- end of business needs --> --}}
{{!-- begin footer --}}
    <!-- begin footer -->
        <!-- begin footer -->
        <footer class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="">
                            <h6 class="f-17">Solutions</h6>
                            <ul class="list-unstyled footer-link pl-2">
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;EMS</a></li>
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;BMS</a></li>
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;AIMS</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="">
                            <h6 class="f-17">About Us</h6>
                            <ul class="list-unstyled footer-link pl-2">
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;Company</a></li>
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;Meet Our Team</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="">
                            <h6 class="f-17">Blog</h6>
                            <ul class="list-unstyled footer-link pl-2">
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;Stories</a></li>
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;Industry Insights</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="">
                            <h6 class="f-17">Resources</h6>
                            <ul class="list-unstyled footer-link pl-2">
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;News</a></li>
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;Videos</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="mt-2 mb-2" />
                <div class="row">
                    <div class="col-lg-4">
                        <div class="text-center">
                            <p class="text-muted mb-0">
                                2021 © <span class="text-primary font-weight-bold">Skylights Energy</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center">
                            <a class="text-primary font-weight-bold mr-2" href="">info@skylightsenergy.in</a> |
                            <a class="text-primary font-weight-bold ml-2" href="">+91-9100010019</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center">
                            <a class="text-primary font-weight-bold mr-3" href=""><i class="mdi mdi-twitter f-17"></i></a>
                            <a class="text-primary font-weight-bold mr-3" href=""><i class="mdi mdi-facebook f-17"></i></a>
                            <a class="text-primary font-weight-bold" href=""><i class="mdi mdi-instagram f-17"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
{{!-- begin footer --}}