{{!< default}}

{{!-- begin navbar --}}
 <nav class="navbar navbar-expand-lg fixed-top sticky topbar-custom">
            <div class="container">
                <ul class="navbar-nav">
                    <li>
                        <a class="text-primary" href="/">info@skylightsenergy.in</a>
                    </li>
                    <li>
                        <a class="text-primary" href="/">+91-9100010019</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li><a class="text-primary" href=""><i class="mdi mdi-facebook f-20"></i></a></li>
                    <li><a class="text-primary" href=""><i class="mdi mdi-twitter f-20"></i></a></li>
                    <li><a class="text-primary" href=""><i class="mdi mdi-instagram f-20"></i></a></li>
                </ul>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg fixed-top sticky navbar-custom">
            <div class="container">
                <a class="navbar-brand logo" href="/">
                    <img src="{{asset "images/logo/logo1.jpeg"}}" alt="logo" height="40" />
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span>Menu</span>
                </button>
                <div class="navbar-collapse collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li><a href="/">Home</a></li>
                        <li><a href="/solutions">Solutions</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/pricing">Pricing</a></li>
                        <li><a href="/blog">Success Stories</a></li>
                        <li><a href="/resources">Resources</a></li>
                    </ul>
                </div>
            </div>
        </nav>
{{!-- end navbar --}}

{{!-- begin hero --}}
{{!-- <section class="bg-home-6 align-items-center pb-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="breadcrumb-textBx">
                            <h2>Our Solutions</h2>
                            <p class="breadcrumb-text"><span><a class="text-primary" href="index.html">Home</a></span>&nbsp;<i class="mdi mdi-chevron-right"></i>&nbsp;Solutions</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="breadcrumb-imgBx">
                        <img src="{{asset "images/solutions/bg-hero.png"}}" alt="solution-img" />
                    </div>
                    </div>
                </div>
            </div>
        </section> --}}
        <section class="bg-home-solutions align-items-center pb-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="home-text mt-5">
                            <h1 class="f-40">
                                <span class="text-white" style="background-color: #3390ff">Skylights Energy</span><br />
                                <span
                                    style="background-color: #3390ff"
                                    class="element text-white"
                                    data-elements="Affordable prices for professional services., At right location with right way of servicing., Experience it and then Trust our advice,Lorem Ipsum Dolor Sit."
                                ></span>
                            </h1>
                        </div>
                        <!-- <div class="breadcrumb-textBx"> -->
                        <!-- <h2 class="text-white text-capitalize">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, quae.
                            </h2> -->
                        <!-- <p class="breadcrumb-text text-white">
                                <span><a class="text-primary" href="index.html">Home</a></span
                                >&nbsp;<i class="mdi mdi-chevron-right"></i>&nbsp;Solutions
                            </p> -->
                        <!-- </div> -->
                    </div>
                    <!-- <div class="col-lg-6">
                        <div class="breadcrumb-imgBx">
                            <img src="assets/solutions/bg-hero.png" alt="contact-img" />
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
{{!-- end hero --}}
{{!-- <!-- begin services --> --}}
        <section class="bg-home-services" id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1700">
                        <div class="text-center">
                            <h6 class="text-primary text-uppercase">our services</h6>
                            <h2 class="text-dark font-weight-bold f-39">We Provide Useful Services</h2>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-4 mb-5" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1750">
                        <div class="features-box-2">
                            <div class="feature-img">
                                <img src="{{asset "/images/technology/tech1.png"}}" alt="service" />
                            </div>
                            <div class="feature-text">
                                <h6 class="text-dark font-weight-bold">Big Data Consulting</h6>
                                <p class="text-muted font-weight-bold">
                                    Many variation established fact reader will be distracted by the of readable content .
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1750">
                        <div class="features-box-2">
                            <div class="feature-img">
                                <img src="{{asset "/images/technology/tech2.png"}}" alt="service" />
                            </div>
                            <div class="feature-text">
                                <h6 class="text-dark font-weight-bold">Machine Learning</h6>
                                <p class="text-muted font-weight-bold">
                                    Contrary to established fact that a reader will be distracted by readable content .
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1750">
                        <div class="features-box-2">
                            <div class="feature-img">
                                <img src="{{asset "/images/technology/tech3.png"}}" alt="service" />
                            </div>
                            <div class="feature-text">
                                <h6 class="text-dark font-weight-bold">Computer Vision</h6>
                                <p class="text-muted font-weight-bold">
                                    Variations established fact that a reader will be distracted the of readable content .
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1800">
                        <div class="features-box-2">
                            <div class="feature-img">
                                <img src="{{asset "/images/technology/tech4.png"}}" alt="service" />
                            </div>
                            <div class="feature-text">
                                <h6 class="text-dark font-weight-bold">Data Analytics</h6>
                                <p class="text-muted font-weight-bold">
                                    Established fact that a reader will be distracted by passages of readable content .
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1800">
                        <div class="features-box-2">
                            <div class="feature-img">
                                <img src="{{asset "/images/technology/tech5.png"}}" alt="service" />
                            </div>
                            <div class="feature-text">
                                <h6 class="text-dark font-weight-bold">Internet Of Things</h6>
                                <p class="text-muted font-weight-bold">
                                    It is a long established fact that a reader will be distracted by the of readable content .
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1800">
                        <div class="features-box-2">
                            <div class="feature-img">
                                <img src="{{asset "/images/technology/tech6.png"}}" alt="service" />
                            </div>
                            <div class="feature-text">
                                <h6 class="text-dark font-weight-bold">Artificial Intelligence</h6>
                                <p class="text-muted font-weight-bold">
                                    Contrary to established fact that a reader will be distracted by readable content .
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{!-- <!-- end services --> --}}
{{!-- begin our solutions --}}
<section class="section bg-light align-items-center mb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h6 class="text-primary text-uppercase">solutions</h6>
                        <h2 class="text-dark font-weight-bold f-39">Our Solutions</h2>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-6">
                    {{!-- <div class="solutionImgBx p-4">
                        <img src="{{asset "images/contact/img-1.png"}}" class="img-fluid" alt="solutions-img" />
                    </div> --}}
                    <div class="p-4">
                            <div class="embed-responsive embed-responsive-16by9">
                                <video controls autoplay muted>
                                    <source src="{{asset "images/solutions/video/EMSDASHBOARD.mp4"}}" type="video/mp4" />
                                </video>
                            </div>
                        </div>
                </div>
                <div class="col-lg-6">
                    <div class="solutionTxBx p-4">
                        <h5 class="text-primary">EMS</h5>
                        <h2>EMS Abbrevation</h2>
                        <p class="text-muted font-weight-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laboriosam odit dolore asperiores repudiandae nesciunt.</p>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-6">
                    <div class="solutionTxBx p-4">
                        <h5 class="text-primary">BMS</h5>
                        <h2>BMS Abbrevation</h2>
                        <p class="text-muted font-weight-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laboriosam odit dolore asperiores repudiandae nesciunt.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    {{!-- <div class="solutionImgBx p-4">
                        <img src="{{asset "images/contact/img-1.png"}}" class="img-fluid" alt="solutions-img" />
                    </div> --}}
                    <div class="p-4">
                            <div class="embed-responsive embed-responsive-16by9">
                                <video controls autoplay muted>
                                    <source src="{{asset "images/solutions/video/LIVEDASHBOARD.mp4"}}" type="video/mp4" />
                                </video>
                            </div>
                        </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-6">
                    {{!-- <div class="solutionImgBx p-4">
                        <img src="{{asset "images/contact/img-1.png"}}" class="img-fluid" alt="solutions-img" />
                    </div> --}}
                    <div class="p-4">
                            <div class="embed-responsive embed-responsive-16by9">
                                <video controls autoplay muted>
                                    <source src="{{asset "images/solutions/video/PRESENTATION.mp4"}}" type="video/mp4" />
                                </video>
                            </div>
                        </div>
                </div>
                <div class="col-lg-6">
                    <div class="solutionTxBx p-4">
                        <h5 class="text-primary">AIMS</h5>
                        <h2>AIMS Abbrevation</h2>
                        <p class="text-muted font-weight-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laboriosam odit dolore asperiores repudiandae nesciunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{!-- end solutions --}}

{{!-- begin footer --}}
<!-- begin footer -->
        <!-- begin footer -->
        <footer class="section pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="">
                            <h6 class="f-17">Solutions</h6>
                            <ul class="list-unstyled footer-link pl-2">
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;EMS</a></li>
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;BMS</a></li>
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;AIMS</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="">
                            <h6 class="f-17">About Us</h6>
                            <ul class="list-unstyled footer-link pl-2">
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;Company</a></li>
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;Meet Our Team</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="">
                            <h6 class="f-17">Blog</h6>
                            <ul class="list-unstyled footer-link pl-2">
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;Stories</a></li>
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;Industry Insights</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="">
                            <h6 class="f-17">Resources</h6>
                            <ul class="list-unstyled footer-link pl-2">
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;News</a></li>
                                <li><a href=""><i class="mdi mdi-chevron-right text-primary font-weight-bold"></i>&nbsp;Videos</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="mt-2 mb-2" />
                <div class="row">
                    <div class="col-lg-4">
                        <div class="text-center">
                            <p class="text-muted mb-0">
                                2021 © <span class="text-primary font-weight-bold">Skylights Energy</span>.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center">
                            <a class="text-primary font-weight-bold mr-2" href="">info@skylightsenergy.in</a> |
                            <a class="text-primary font-weight-bold ml-2" href="">+91-9100010019</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center">
                            <a class="text-primary font-weight-bold mr-3" href=""><i class="mdi mdi-twitter f-17"></i></a>
                            <a class="text-primary font-weight-bold mr-3" href=""><i class="mdi mdi-facebook f-17"></i></a>
                            <a class="text-primary font-weight-bold" href=""><i class="mdi mdi-instagram f-17"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
{{!-- begin footer --}}